<?xml version="1.0"?>
<ruleset>
    <config name="installed_paths" value="../../damejidlo/coding-standard/DameJidloCodingStandard"/><!-- relative path from PHPCS source location -->

    <arg value="ps"/><!-- show progress of the run, show sniff names -->
    <arg name="cache" value=".phpcs-cache"/>

    <arg name="extensions" value="php"/>
    <file>src</file>
    <file>tests</file>

    <rule ref="DameJidloCodingStandard">
    </rule>

    <rule ref="SlevomatCodingStandard.Namespaces.UnusedUses">
        <properties>
            <property name="ignoredAnnotationNames" type="array">
                <element value="@testCase"/>
                <element value="@dataProvider"/>
            </property>
        </properties>
    </rule>
    <rule ref="SlevomatCodingStandard.Files.TypeNameMatchesFileName">
        <exclude-pattern>*/exceptions.php</exclude-pattern>
        <properties>
            <property name="rootNamespaces" type="array">
                <element key="src" value="Damejidlo\PHPStan"/>

                <element key="tests" value="DamejidloTests"/>
            </property>
            <property name="extensions" type="array">
                <element value="php"/>
            </property>
        </properties>
    </rule>

    <rule ref="PSR1.Files.SideEffects">
        <exclude-pattern>*/bootstrap.php</exclude-pattern>
    </rule>
</ruleset>
